# Eclipse
.classpath
.factorypath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/
bin/

# NetBeans
core
nbproject/
nb-configuration

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
